[submodule "libraries/glad"]
	path = libraries/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
